.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 12px -3px rgba(147, 147, 147, 0.5) inset;
  -moz-box-shadow: 1px 1px 12px -3px rgba(147, 147, 147, 0.5) inset;
  box-shadow: 1px 1px 12px -3px rgba(147, 147, 147, 0.5) inset;
  gap: 10px;
  width: 100%;
}
.pieChart {
  max-width: 300px;
  max-height: 300px;
}

.memoryInfoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.memoryInfoContainer {
  display: flex;
  gap: 30px;
}
.memoryInfoContent {
  padding-bottom: 5px;
}
.memoryInfoContent span {
  color: rgba(86, 85, 85, 0.752);
  line-height: 25px;
}
